{% extends "admin/change_form.html" %}

{% load i18n admin_modify admin_urls %}

<!-- Submit-Row -->
{% block submit_buttons_bottom %}
<div class="submit-row">
  <footer class="grp-module grp-submit-row grp-fixed-footer">
      <header style="display:none"><h1>Submit Options</h1></header>
      <ul>
          {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
          <li class="grp-float-left"><a class="grp-button grp-delete-link" href="{% add_preserved_filters delete_url %}">{% trans "Delete" %}</a></li>
          <li><input class="grp-button grp-default" type="submit" value="{% trans 'Submit as final' %}" name="_save" /></li>
          {# <li><input class="grp-button" type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" /></li> #}
          <li><input class="grp-button" type="submit" value="{% trans 'Save as draft' %}" name="_draft" /></li>
      </ul>
  </footer>
</div>

{% endblock %}



