{% extends "admin/change_list.html" %}

{% load i18n admin_urls %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
    <ul class="grp-object-tools">
        {% block object-tools-items %}
            {% if not user.is_super_user %}
                <li><a href="{% url 'results' %}" class="grp-state-focus grp-viewsite-link">{% blocktrans with cl.opts.verbose_name as name %}View results{% endblocktrans %}</a></li>
            {% endif %}
            {% if has_add_permission %}
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <li><a href="{% add_preserved_filters add_url is_popup %}" class="grp-add-link grp-state-focus">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}
