$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/theme.scss';

// put application-specific styles here

.grp-tabular ul.errorlist {
  background-color: #BF3030;
  color: #fff;
}

#main-content {
  min-height: 500px;

  .grp-module-login {
    input[type=text],
    input[type=password] {
      width: 100%;
    }

  }

  .grp-submit-row {
    margin-bottom: 20px;
  }
}

.freetext {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 21px;
    color: #DA4622;
  }

  h3 {
    font-size: 18px;
  }

  h1, h2, h3, h4, h5 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 20px;
  }

  .img-aside {
    width: 100%;
  }
  margin-bottom: 20px;

  ul {
    list-style: inside;
  }

  p.report-overview {
      font-size: 0.85em;
      font-style: italic;
    }
}

#site-footer {
  margin-top: 20px;
  padding: 40px 0px;
  background: #333;
  color: white;
  a:hover {
    color: white;
  }

  .code4sa-logo {
    display: block;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    height: 70px;
  }

  .herana-logo,
  .chet-logo{
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}


.results {
  // Graph
  .chart-controls {
    label,
    input,
    select {
      display: block;
    }
  }

  .axis {
    path, line {
      fill: none;
      stroke: #aaaaaa;
      shape-rendering: crispEdges;
    }
  }

  .z-axis {
    path, line {
      stroke-dasharray: 3;
      stroke: #707070;
    }
  }

  .grid {
    stroke: #d3d3d3;
    fill: none;
    shape-rendering: crispEdges;
    stroke-dasharray: 2;
    stroke-width: 1px;
  }

  .axis .z-axis {
    line{
      stroke-dasharray: 2,2;
    }
  }

  .axis text {
      font-family: sans-serif;
      font-size: 11px;
  }

  .label {
    font-size: 12px;
    font-weight: normal;
  }

  .z {
    font-size: 16px;
    font-weight: bold;
  }

  .checkbox {
    list-style: none;
  }

  .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    font-weight: normal;
    cursor: pointer;
  }

  .checkbox input[type="checkbox"] {
    margin-top: 2px;
  }

  .legend rect {
    stroke: none;
    fill: none;
  }
}


