@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/theme';

// put application-specific styles here

.grp-tabular ul.errorlist {
  background-color: #BF3030;
  color: #fff;
}

#main-content {
  min-height: 500px;
}

#site-footer {
  margin-top: 20px;
  padding: 40px 0px;

  background-color: #ccc;
}
