{% extends "base.html" %}
{% load static %}

{% block content %}

<header id="site-header">
  <!-- Navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Herana
        </a>
      </div>
      <div id="navbar" class="navbar-static-top">
        <ul class="nav navbar-nav">
          {% if user.is_project_leader %}
          <li class="active"><a href="/admin/">Submit project details</a></li>
          {% else %}
          <li class="active"><a href="/admin/">Go to admin site</a></li>
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ user.username|default:user.email }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'admin:password_change' %}">Change password</a></li>
              <li><a href="{% url 'admin:logout' %}">Log out</a></li>
            </ul>
          </li>

          {% else %}

          <li><a href="{% url 'admin:login' %}">Login</a></li>

          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- /Navbar -->
</header>

<div id="main-content">
  {% block page-content %}{% endblock %}
</div>

<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <p>
        <a href="http://chet.org.za/programmes/herana/"><img class="herana-logo" src="{% static 'img/herana-logo.png' %}"></a>
        <a href="http://chet.org.za/"><img class="chet-logo" src="{% static 'img/chet-logo.png' %}"></a>
        </p>

        <p>
          <a href="http://chet.org.za/programmes/herana/">HERANA (Higher Education Reaserch and Advocacy Network in Africa)</a>
          is a programme of the <a href="http://chet.org.za/">Centre for Higher Education Transformation (CHET)</a>.
        </p>
      </div>

      <div class="col-sm-3">
        <p>
        <a href="http://code4sa.org"><img class="code4sa-logo" src="{% static 'bower_components/code4sa-styles/images/code4sa_logo.png' %}"></a>
        </p>
        <p>
        Built by <a href="http://code4sa.org">Code for South Africa</a>
        </p>
      </div>
    </div>

  </div>
</footer>

{% endblock %}
